html{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: #cccccc;
    background-image: url(Webp.net-resizeimage_2_700x600.jpg)
}

  .textTwo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;
    text-align: center;
    height: 51pt;
  }

  h1{
    display: flex;
    justify-content: center;
  }
  .grid-container{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-row-gap: 2%;
  }

    /* Widget One */

  .widgetOne{
    display: grid;
    grid-column-start: 2;
    grid-row-start: 3;
    background-color: bisque;
    border: 1pt solid black;
  }
  .Container{
      display: grid;
      width: 115pt;
      height: 140pt;
      margin-left: 15%;
      margin-top: 3px;
  }
  .buttonNumberTotal{
      grid-row:1;
      grid-column-start: 1;
      grid-column-end: 5;
      height: 100%;
      width: 100%;
      border: 1pt solid black;
      background-color: lightsteelblue;
  }
  .buttonRowTwo{
      grid-row:2;
      height: 100%;
      border: 1pt solid black;
      width: 100%;
      background-color: lightgrey;
  }
  .buttonRowThree{
    grid-row:3;
    height: 100%;
    border: 1pt solid black;
    width: 100%;
    background-color: lightgrey;
  }
  .buttonRowFour{
    grid-row:4;
    height: 100%;
    border: 1pt solid black;
    width: 100%;
    background-color: lightgrey;
  }
  .buttonRowFive{
    grid-row:5;
    height: 100%;
    border: 1pt solid black;
    width: 100%;
    background-color: lightgrey;
  }
  .buttonNumberZero{
    grid-row:6;
    grid-column-start: 1;
    grid-column-end: 3;
    height: 100%;
    width: 100%;
    border: 1pt solid black;
    background-color: lightgrey;
  }
  .buttonRowSix{
    grid-row:6;
    height: 100%;
    border: 1pt solid black;
    width: 100%;
    background-color: lightgrey;   
  }

  /* Widget Two */

  .widgetTwo{
    grid-column-start: 3;
    grid-row-start: 3;
    background-color: bisque;
    height: 150pt;     
}
  .calenderContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin-top: 25px;
    margin-left: 10pt;
    margin-right: 10pt;
    border: 1pt solid black;
}
.calenderHeader{
    grid-row:1;
    grid-column-start: 1;
    grid-column-end: 8;
    border: 1pt solid black;
    background-color: lightsteelblue;
}
span{
    border: 1pt solid black;
    padding: 1pt;
}
  /* Widget Three */

.widgetThree{
    grid-column-start: 4;
    grid-row-start: 3;
    background-color: bisque;
    height: 150pt;
}
.containerList{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin-top: 25px;
    margin-left: 10pt;
    margin-right: 10pt;
    border: 1pt solid black;
}
.listHeader{
    grid-row: 1;
    grid-column: 1/5;
    background-color: lightgrey; 
}
.listBody{
    grid-row: 2/4;
    grid-column: 1/5; 
    height: 92pt;
}
/* Smartphones- iPhoneX */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px)  { 

    header{
      height: 39vh;
      border: 1pt solid black;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .textTwo{
      font-size: 16pt;
    }
    .widgetOne{
      width: 15em;
      margin-left: 3em;
      padding-left: 8px;
      padding-top: 2pt;
      padding-bottom: 2pt;
      margin-bottom: 7pt;
      height: 13em;
      margin-top: 6pt;
    }
    .widgetTwo{
      width: 15em;
      margin-left: 3em;
      margin-bottom: 7pt;
      padding: 2pt 3pt 2pt 5pt;
  }
  .widgetThree{
    width: 15em;
    margin-left: 3em;
    margin-bottom: 2pt;
    padding: 2pt 3pt 2pt 5pt; 
  }
}
/* Tablets- iPad */

@media only screen 
  and (min-device-width: 668px) 
  and (max-device-width: 1024px)  {
    
  header{
      border: 2pt solid black;
      height: 45em;
    }

  h1{
    margin-top: 3em;
    font-size: 41pt;
  }
 .grid-container{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
   grid-template-rows: auto;
   grid-column-gap: 1%;
 }
  .widgetOne{
    width: 12em;
    height: 13em;
    grid-column: 1/2;
  }
  .widgetTwo{
    width: 14em;
    height: 13em;
    grid-column: 3/4;
  }
  .widgetThree{
    width: 14em;
    height: 13em;
    grid-column: 5/6;
  }
}