html{
    margin: 0%;
    padding: 0%;
    height: 100%;
}
body{
    background-color: #cccccc;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1%;
    background: url("Webp.net-resizeimage_2_700x600.jpg"); 
    height: 600pt;
}

  .greeting{
    grid-column: 2/5;
    grid-row: 1/3;
  }
  .greetingCenter{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
      background-color: pink;
  }
  .text{
      font-family: Arial, Helvetica, sans-serif;
      font-size: 40pt;
      text-align: center;
      height: 150pt;
      grid-row: 2/4;
      grid-column: 2/5;
  }
  .textTwo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;
    text-align: center;
    height: 50pt;
    grid-row: 5/6;
    grid-column: 2/5;
  }
    /* Widget One */

  .widgetOne{
    grid-column-start: 2;
    grid-row-start: 3;
    background-color: bisque;
    height: 150pt;
  }
  .Container{
      display: grid;
      width: 115pt;
      height: 140pt;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: auto;
      margin-left: 15%;
      margin-top: 3px;
      border: 1pt solid black;
  }
  .buttonNumberTotal{
      grid-row:1;
      grid-column-start: 1;
      grid-column-end: 5;
      height: 100%;
      width: 100%;
      border: 1pt solid black;
      background-color: lightsteelblue;
  }
  .buttonRowTwo{
      grid-row:2;
      height: 100%;
      border: 1pt solid black;
      width: 100%;
      background-color: lightgrey;
  }
  .buttonRowThree{
    grid-row:3;
    height: 100%;
    border: 1pt solid black;
    width: 100%;
    background-color: lightgrey;
  }
  .buttonRowFour{
    grid-row:4;
    height: 100%;
    border: 1pt solid black;
    width: 100%;
    background-color: lightgrey;
  }
  .buttonRowFive{
    grid-row:5;
    height: 100%;
    border: 1pt solid black;
    width: 100%;
    background-color: lightgrey;
  }
  .buttonNumberZero{
    grid-row:6;
    grid-column-start: 1;
    grid-column-end: 3;
    height: 100%;
    width: 100%;
    border: 1pt solid black;
    background-color: lightgrey;
  }
  .buttonRowSix{
    grid-row:6;
    height: 100%;
    border: 1pt solid black;
    width: 100%;
    background-color: lightgrey;   
  }

  /* Widget Two */

  .widgetTwo{
    grid-column-start: 3;
    grid-row-start: 3;
    background-color: bisque;
    height: 150pt;     
}
  .calenderContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin-top: 25px;
    margin-left: 10pt;
    margin-right: 10pt;
    border: 1pt solid black;
}
.calenderHeader{
    grid-row:1;
    grid-column-start: 1;
    grid-column-end: 8;
    border: 1pt solid black;
    background-color: lightsteelblue;
}
span{
    border: 1pt solid black;
    padding: 1pt;
}
  /* Widget Three */

.widgetThree{
    grid-column-start: 4;
    grid-row-start: 3;
    background-color: bisque;
    height: 150pt;
}
.containerList{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin-top: 25px;
    margin-left: 10pt;
    margin-right: 10pt;
    border: 1pt solid black;
}
.listHeader{
    grid-row: 1;
    grid-column: 1/5;
    background-color: lightgrey; 
}
.listBody{
    grid-row: 2/4;
    grid-column: 1/5; 
    height: 92pt;
}
/* Smartphones- iPhoneX */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

    .grid-container{
        width: 270pt;
        height: 600pt;
    }
    .greeting{
        color: antiquewhite;
        height: 60pt;
    }
    .greetingCenter{
        background-color: transparent;
    }
    .text{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 68pt;
        text-align: center;
        height: 130pt;
        grid-row: 2/4;
        grid-column: 2/5;
    }

    .textTwo{
        height: 10%;
    }
    .greetingCenter{

    }
}
/* Tablets- iPad */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    
    .grid-container{
        width: auto;
    }
    .greeting{
        background-color: transparent;
        color: antiquewhite;
        height: 100%;
        width: 95%;
        margin-top: 2pt;
        margin-bottom: 14pt;
    }
    .text {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 57pt;
        text-align: center;
        height: 146pt;
        grid-row: 2/4;
        grid-column: 2/5;
        background-color: transparent;
    }

}