html{
    margin: 0%;
    padding: 0%;
}
body{
    display: flex;
    justify-content: center;
}
.container{
display:flex;
flex-wrap: wrap;
border: 2px solid black;
height: 383pt;
width: 300pt;
}
.buttonNumberTotal{
    text-align: right;
    border: 2pt solid black;
    width: 100%;
    height: 60pt;
    background-color: black;
    color: white;
    font-size: 20pt;
}
.buttonOperator{
    text-align: center;
    border: 2pt solid black;
    background-color: lightgoldenrodyellow;
    height: 60pt;
    width: 71pt;
    font-size: x-large; 
    font-size: 20pt;
}
.buttonNumber{
    text-align: center;
    border: 2pt solid red;
    height: 60pt;
    width: 71pt;
    font-size: 20pt;
}
.buttonNumberZero{
    text-align: center;
    border: 2pt solid purple;
    height: 60pt;
    width: 146pt;
    font-size: 20pt;
}